body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Styly pro hlavní kontejner aplikace */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px; /* Mezery mezi komponentami */
  background-color: #f0f0f0; /* Světlé pozadí pro lepší čitelnost */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Styly pro jednotlivé koncepty */
.concept {
  border: 1px solid #ccc; /* Subtilní rámeček kolem konceptu */
  padding: 20px;
  max-width: 600px; /* Maximální šířka pro lepší čitelnost */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Lehký stín pro efekt hloubky */
  background-color: #ffffff; /* Bílé pozadí pro jednotlivé koncepty */
  border-radius: 8px; /* Zaoblené rohy */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.concept h2 {
  color: #333; /* Tmavší barva textu pro titulky */
  margin-bottom: 10px; /* Odstup pod nadpisem */
  text-align: center;
}

.concept p {
  color: #666; /* Světlejší barva textu pro popis */
  line-height: 1.5; /* Větší řádkování pro lepší čitelnost */
  margin-bottom: 20px; /* Odstup pod popisem */
  text-align: center;
}

.concept img {
  width: 25%; /* Šířka obrázku odpovídá šířce kontejneru */
  height: auto; /* Automatická výška zachovává původní poměry obrázku */
  border-radius: 4px; /* Zaoblené rohy obrázků */
}
